<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Login Page - Now UI Kit by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <!-- CSS Files -->
    <link href="{% static 'css/demo.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/now-ui-kit.css' %}?v=1.1.0" rel="stylesheet"/>
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://www.creative-tim.com/product/now-ui-kit"/>
    <!--  Social tags      -->
    <meta name="keywords"
          content="bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, now ui, now ui kit, creative tim, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit">
    <meta name="description" content="Start your development with a beautiful Bootstrap 4 UI kit. It is yours Free.">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Now UI Kit by Creative Tim">
    <meta itemprop="description"
          content="Start your development with a beautiful Bootstrap 4 UI kit. It is yours Free.">
    <meta itemprop="image"
          content="http://s3.amazonaws.com/creativetim_bucket/products/56/original/opt_nuk_thumbnail.jpg">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Now UI Kit by Creative Tim">
    <meta name="twitter:description"
          content="Start your development with a beautiful Bootstrap 4 UI kit. It is yours Free.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image"
          content="http://s3.amazonaws.com/creativetim_bucket/products/56/original/opt_nuk_thumbnail.jpg">
    <meta name="twitter:data1" content="Now UI Kit by Creative Tim">
    <meta name="twitter:label1" content="Product Type">
    <meta name="twitter:data2" content="Free">
    <meta name="twitter:label2" content="Price">
    <!-- Open Graph data -->
    <meta property="fb:app_id" content="655968634437471">
    <meta property="og:title" content="Now UI Kit by Creative Tim"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://demos.creative-tim.com/now-ui-kit/index.html"/>
    <meta property="og:image"
          content="http://s3.amazonaws.com/creativetim_bucket/products/56/original/opt_nuk_thumbnail.jpg"/>
    <meta property="og:description"
          content="Start your development with a beautiful Bootstrap 4 UI kit. It is yours Free."/>
    <meta property="og:site_name" content="Creative Tim"/>
</head>

<body class="login-page sidebar-collapse">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
    <div class="container">
        {#            <div class="dropdown button-dropdown">#}
        {#                <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">#}
        {#                    <span class="button-bar"></span>#}
        {#                    <span class="button-bar"></span>#}
        {#                    <span class="button-bar"></span>#}
        {#                </a>#}
        {#                <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
        {#                    <a class="dropdown-header">Dropdown header</a>#}
        {#                    <a class="dropdown-item" href="#">Action</a>#}
        {#                    <a class="dropdown-item" href="#">Another action</a>#}
        {#                    <a class="dropdown-item" href="#">Something else here</a>#}
        {#                    <div class="dropdown-divider"></div>#}
        {#                    <a class="dropdown-item" href="#">Separated link</a>#}
        {#                    <div class="dropdown-divider"></div>#}
        {#                    <a class="dropdown-item" href="#">One more separated link</a>#}
        {#                </div>#}
        {#            </div>#}
        <div class="navbar-translate">
            <a class="navbar-brand" href="http://polly.agency" rel="tooltip"
               title="Polly.agency - az online munkaközvetítő" data-placement="bottom" target="_blank">
                POLLY.agency
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" data-nav-image="../assets/img/blurred-image-1.jpg">
            <ul class="navbar-nav">
                {#                    <li class="nav-item">#}
                {#                        <a class="nav-link" href="../index.html">Back to Kit</a>#}
                {#                    </li>#}
                {#                    <li class="nav-item">#}
                {#                        <a class="nav-link" href="https://github.com/creativetimofficial/now-ui-kit/issues">Have an issue?</a>#}
                {#                    </li>#}
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom"
                       href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none d-xl-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom"
                       href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none d-xl-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
                       href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none d-xl-none">Instagram</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url({% static 'img/london.jpg' %})"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="login-form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="{% static '/images/Polly Agency_emboss.png' %}" alt="">
                        </div>
                    </div>
                    <div class="content">
                        <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                            <input id="id_username" name="username" type="text" class="form-control"
                                   placeholder="Felhasználónév...">
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons text_caps-small"></i>
                                </span>
                            <input id="id_password" name="password" type="password" placeholder="Jelszó..."
                                   class="form-control"/>
                        </div>

                        {% if form.errors %}
                            <div class="input-group form-group-no-border input-lg">
                                <p>A felhasználónév és jelszó nem egyezik. Kérlek próbáld meg újra!</p>
                            </div>
                        {% endif %}

                        {% if next %}
                            {% if user.is_authenticated %}
                                <div class="input-group form-group-no-border input-lg">
                                    <p>Your account doesn't have access to this page. To proceed,
                                        please login with an account that has access.</p>
                                </div>
                            {% else %}
                                <div class="input-group form-group-no-border input-lg">
                                    <p>Please login to see this page.</p>
                                </div>
                            {% endif %}
                        {% endif %}

                    </div>
                    <div class="footer text-center">
                        <input type="submit" value="Bejelentkezés" class="btn btn-primary btn-round btn-lg btn-block">
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>
                    <div class="pull-left">
                        <h6>
                            <a href="#pablo" class="link">Regisztráció</a>
                        </h6>
                    </div>
                    <div class="pull-right">
                        <h6>
                            <a href="{% url 'password_reset' %}" class="link">Elfelejtett jelszó</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            {#                <nav>#}
            {#                    <ul>#}
            {#                        <li>#}
            {#                            <a href="https://www.creative-tim.com">#}
            {#                                Creative Tim#}
            {#                            </a>#}
            {#                        </li>#}
            {#                        <li>#}
            {#                            <a href="http://presentation.creative-tim.com">#}
            {#                                About Us#}
            {#                            </a>#}
            {#                        </li>#}
            {#                        <li>#}
            {#                            <a href="http://blog.creative-tim.com">#}
            {#                                Blog#}
            {#                            </a>#}
            {#                        </li>#}
            {#                        <li>#}
            {#                            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">#}
            {#                                MIT License#}
            {#                            </a>#}
            {#                        </li>#}
            {#                    </ul>#}
            {#                </nav>#}
            {#                <div class="copyright">#}
            {#                    &copy;#}
            {#                    <script>#}
            {#                        document.write(new Date().getFullYear())#}
            {#                    </script>, Designed by#}
            {#                    <a href="http://www.invisionapp.com" target="_blank">Invision</a>. Coded by#}
            {#                    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.#}
            {#                </div>#}
        </div>
    </footer>
</div>
</body>
<!--   Core JS Files   -->
<script src="{% static 'js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/core/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'js/plugins/bootstrap-switch.js' %}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{% static 'js/plugins/bootstrap-datepicker.js' %}" type="text/javascript"></script>
<!-- Share Library etc -->
<script src="{% static 'js/plugins/jquery.sharrre.js' %}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{% static 'js/now-ui-kit.js?v=1.1.0' %}" type="text/javascript"></script>

</html>