.no-spinners {
    -moz-appearance: textfield;
}

.no-border-n-bg{
    background-color:rgba(0,0,0,0);
    border: none;
}

.hidden{
    display: none;
}

.border-bottom-c{
    border-bottom: 1px solid #d9d9d9;
}

/*.no-spinners::-webkit-outer-spin-button,*/
/*.no-spinners::-webkit-inner-spin-button {*/
  /*-webkit-appearance: none;*/
  /*margin: 0;*/
/*}*/