{% extends "layout.html" %}
{% block header_chart %}
    {% load static %}
    <script src="{% static 'js_custom/header_chart.js' %}" defer type="text/javascript"></script>
    <div class="panel-header panel-header-lg">
        <div class="chartjs-size-monitor"
             id="data_holder_header_chart"
             attempt_date_list="{{ attempt_date_list }}"
             attempt_numbers_list="{{ attempt_numbers_list }}"
             style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events:
            none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand"
                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
        </div>
        <canvas id="bigDashboardChart" width="929" height="255" class="chartjs-render-monitor"
                style="display: block; width: 929px; height: 255px;"></canvas>
    </div>
{% endblock %}
