{% extends "layout.html" %}
{% block content %}
    {% load static %}
    <link href="{% static '/css/fresh-bootstrap-table.css' %}" rel="stylesheet"/>
    <script src="{% static '/js/ajax.js' %}" type="text/javascript" defer></script>
    <h1>Template</h1>
{% endblock %}
