{% extends "layout.html" %}
{% block content %}
    {% load static %}


    <div class="row">
        <div class="col-lg-4 col-md-6">

            <a class="btn btn-success" style="color: white" data-toggle="modal" href="javascript:void(0)"
               onclick="openRegisterModal();">JELENTKEZEM</a>
        </div>
    </div>
    <div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Takarító személyzet</h4>
            </div>
            <div class="card-body">
                <p>
                    1980-ban alapult és azóta is vezető szolgáltatója több, mint 150 hotelnek az Egyesült Királyságban
                    és Szingapúrban.

                    Jelenleg a következő munkakörökbe keresnek embereket:

                </p>
                <ul>
                    <li>
                        Szoba takarítás – NEM SZÜKSÉGES NYELVTUDÁS!
                    </li>
                    <li>
                        Takarítói Szupervizor (- releváns tapasztalat kötelező)
                    </li>
                    <li>
                        Takarítási segéd/hordár
                    </li>
                    <li>
                        Konyhai előkészítő/segéd – NEM SZÜKSÉGES NYELVTUDÁS!
                    </li>
                    <li>
                        Mosodai segéd – minimális nyelvtudás szükséges
                    </li>
                </ul>


                Ajánlatuk:
                <p>
                    Állandó munkaszerződés
                    28 fizetett szabadnap
                    Ingyenes étkezes a munkahelyen
                    Egyedi képzések
                    Szakmai előrelépési lehetőség
                    Kellemes munkakörnyezet
                    £7.50 – £9.40 / óra
                    2 hetente fizetés
                </p>
            </div>
        </div>
    </div>
      <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="{% static 'img/bg5.jpg' %}" alt="...">
                </div>
                <div class="card-body">
                    <div class="author">
                        <a href="#">
                            <img class="avatar border-gray" src="{% static 'img/mike.jpg' %}" alt="...">
                            <h5 class="title">{{ user_profile.firstname }} {{ user_profile.lastname }}</h5>
                        </a>
                        <p class="description">
                            {{ user.username }}
                        </p>
                    </div>
                    <p class="description text-center">
                        "Lamborghini Mercy
                        <br> Your chick she so thirsty
                        <br> I'm in that two seat Lambo"
                    </p>
                </div>
                <hr>
                <div class="button-container">
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-google-plus-g"></i>
                    </button>
                </div>
            </div>
        </div>


{% endblock %}
