<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static '/img/apple-icon.png' %}">
    <link rel="icon" href="{% static '/img/favicon.png' %}">
    <title>
        Inventory Manager
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <link href="{% static '/css/material-dashboard.css' %}" rel="stylesheet"/>
    <!-- Documentation extras -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static '/css/demo.css' %}" rel="stylesheet"/>
    <!-- iframe removal -->
    <!--   Core JS Files   -->
    <script src="{% static '/js/core/jquery.min.js' %}" type="text/javascript" defer></script>
    <script src="{% static '/js/core/popper.min.js' %}" type="text/javascript" defer></script>
    <script src="{% static '/js/bootstrap-material-design.js' %}" type="text/javascript" defer></script>
    <script src="{% static '/js/plugins/perfect-scrollbar.jquery.min.js' %}" type="text/javascript" defer></script>
    <!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
    <script src="{% static '/js/plugins/chartist.min.js' %}" type="text/javascript" defer></script>
    <!-- Library for adding dinamically elements -->
    <script src="{% static '/js/plugins/arrive.min.js' %}" type="text/javascript" defer></script>
    <!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
    <script src="{% static '/js/plugins/bootstrap-notify.js' %}" type="text/javascript" defer></script>
    <!-- Material Dashboard Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="{% static '/js/material-dashboard.js' %}" type="text/javascript" defer></script>
    <!-- demo init -->
    <script src="{% static '/js/demo.js' %}" type="text/javascript" defer></script>
    <script type="text/javascript" defer>
        $(document).ready(function () {

            //init wizard

            // demo.initMaterialWizard();

            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

            demo.initCharts();

        });
    </script>
</head>

<body class="">
<div class="wrapper">
    {% include 'sidebar.html' %}
    <div class="main-panel">
        <div class="">
            {% include 'header.html' %}
        </div>

        <div class="content">
            <div class="margin-top">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>
