<div class="modal fade login" id="loginModal">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="registration-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login with</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="content">
                        <div class="social">
                            <a class="circle github" href="#">
                                <i class="fab fa-github"></i></i>
                            </a>
                            <a id="google_login" class="circle google" href="#">
                                <i class="fab fa-google"></i>
                            </a>
                            <a id="facebook_login" class="circle facebook" href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </div>
                        <div class="division">
                            <div class="line l"></div>
                            <span>or</span>
                            <div class="line r"></div>
                        </div>
                        <div class="error"></div>
                        <div class="form loginBox">
                            <form id="formocska" method="POST" action="{% url 'login' %}" accept-charset="UTF-8">
                                {% csrf_token %}
                                <input id="id_username" name="username" class="form-control" type="text"
                                       placeholder="Felhasználónév" name="email">
                                <input id="id_password" name="password" class="form-control" type="password"
                                       placeholder="Jelszó"
                                       name="password">
                                {% if form.errors %}
                                    <div class="input-group form-group-no-border input-lg">
                                        <p>A felhasználónév és jelszó nem egyezik. Kérlek próbáld meg újra!</p>
                                    </div>
                                {% endif %}
                                {% if next %}
                                    {% if user.is_authenticated %}
                                        <div class="input-group form-group-no-border input-lg">
                                            <p>Your account doesn't have access to this page. To proceed,
                                                please login with an account that has access.</p>
                                        </div>
                                    {% else %}
                                        <div class="input-group form-group-no-border input-lg">
                                            <p>Please login to see this page.</p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <input type="hidden" name="next" value="{{ next }}"/>
                                <button class="btn btn-default btn-login" type="submit" value="Bejelentkezés">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content registerBox" style="display:none;">
                        <div class="form">
                            <form method="" html="{:multipart=>true}" data-remote="true" action=""
                                  accept-charset="UTF-8">
                                <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                <input id="password" class="form-control" type="password" placeholder="Password"
                                       name="password">
                                <input id="password_confirmation" class="form-control" type="password"
                                       placeholder="Repeat Password" name="password_confirmation">
                                <input class="btn btn-default btn-register" type="button" value="Create account"
                                       name="commit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="forgot login-footer">
                            <span>Looking to
                                 <a href="javascript: showRegisterForm();">create an account</a>
                            ?</span>
                </div>
                <div class="forgot register-footer" style="display:none">
                    <span>Already have an account?</span>
                    <a href="javascript: showLoginForm();">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>