{% load static %}
<div class="sidebar" data-color="azure" data-background-color="black"
     data-image="{% static '/img/sidebar-1.jpg' %}">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            Inventory Manager
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="../examples/user.html">#}
{#                    <i class="material-icons">person</i>#}
{#                    <p>User Profile</p>#}
{#                </a>#}
{#            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="/devices">
                    <i class="material-icons">motorcycle</i>
                    <p>Devices</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/sync">
                    <i class="material-icons">sync</i>
                    <p>Sync</p>
                </a>
            </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="../examples/icons.html">#}
{#                    <i class="material-icons">bubble_chart</i>#}
{#                    <p>Icons</p>#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item ">#}
{#                <a class="nav-link" href="../examples/maps.html">#}
{#                    <i class="material-icons">location_ons</i>#}
{#                    <p>Maps</p>#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item ">#}
{#                <a class="nav-link" href="../examples/notifications.html">#}
{#                    <i class="material-icons">notifications</i>#}
{#                    <p>Notifications</p>#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item active-pro">#}
{#                <a class="nav-link" href="../examples/upgrade.html">#}
{#                    <i class="material-icons">unarchive</i>#}
{#                    <p>Upgrade to PRO</p>#}
{#                </a>#}
{#            </li>#}
        </ul>
    </div>
</div>