{% extends "layout.html" %}
{% block content %}
    {% load static %}
    <link href="{% static '/css/fresh-bootstrap-table.css' %}" rel="stylesheet"/>
    <script src="{% static '/js/device.js' %}" type="text/javascript" defer></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title navbar-expand-lg">Devices</h4>

                        <!--<p class="card-category">-->
                        <button id="newDeviceButton" class="btn btn-success" onclick="newDevice()">
                            <i class="material-icons">add</i> Új eszköz
                            <div class="ripple-container"></div>
                        </button>
                        <!--</p>-->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Last update
                                    </th>
                                    <th>
                                        Show On Map
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="devicesTableBody">
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        <button class="btn btn-rose btn-sm">Small
                                            <div class="ripple-container"></div>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<div id="spo0kyD" data-uuid="TjaEDCPlxIBCHkawBQVXskvaknuo" data-recaptcha="false"
     style="z-index:1000;position:fixed;left:526px;width:100px;top:184px;"><img style="cursor:pointer;"
                                                                                src="https://static.ncore.cc/static/images/spooky2k18/14.png">
</div>


<div id="spo0kyD" data-uuid="CyQFfRbmFKbeCFoZvaWkIpoScDjo" data-recaptcha="false"
     style="z-index:1000;position:fixed;left:1302px;width:100px;top:431px;"><img style="cursor:pointer;"
                                                                                 src="https://static.ncore.cc/static/images/spooky2k18/17.png">
</div>
