{% extends "layout.html" %}
{% block content %}
{% load static %}
<link href="{% static '/css/fresh-bootstrap-table.css' %}" rel="stylesheet"/>
<script src="{% static '/js/ajax.js' %}" type="text/javascript" defer></script>

<div class="content">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">New Device</h4>
                    <p class="card-category">New employees on 15th September, 2016</p>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="col-lg-3 col-sm-4">
                            <div class="form-group bmd-form-group">
                                <label for="exampleInput1" class="bmd-label-floating">Device Name</label>
                                <input class="form-control" id="exampleInput1" type="email">
                                <span class="bmd-help">Name of the device</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
