{% extends "layout.html" %}
{% block content %}
    {% load static %}


    <div class="card card-tasks">
        <div class="card-header">
            <h5 class="card-category">Backend development</h5>
            <h4 class="card-title">Tasks</h4>
        </div>
        <div class="card-body">
            <div class="table-full-width table-responsive">
                <table class="table">
                    <tbody>


                    {% for task in tasks %}

                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" checked="" type="checkbox">
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </td>

                            <td class="text-left">{{ task.title }}</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" title=""
                                        class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                                        data-original-title="Edit Task">
                                    <i class="now-ui-icons ui-2_settings-90"></i>
                                </button>
                                <button type="button" rel="tooltip" title=""
                                        class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                                        data-original-title="Remove">
                                    <i class="now-ui-icons ui-1_simple-remove"></i>
                                </button>
                            </td>
                        </tr>

                    {% endfor %}




                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <hr>
            <div class="stats">
                <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
            </div>
        </div>
    </div>

{% endblock %}
