{% extends "layout.html" %}
{% block content %}
{% load i18n %}
    {% load static %}

    <link rel="stylesheet" href="{% static '/css/custom-style.css' %}">
    <script src="{% static 'js/edit_profile.js' %}" defer type="text/javascript"></script>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title d-inline">{% trans "Personal information" %}</h5>
                    <button id="edit_button" name="user_details" value="MÓDOSÍT" onclick="edit_activer()"
                            class="btn btn-info">{% trans "Edit" %}
                    </button>
                </div>

                <div class="card-body">
                    <form id="user_details" method="post"> {% csrf_token %}
                        <div class="row">
                            <div class="col-md-5 pr-1">
                                <div class="form-group">
                                    <label>MAGYARORSZÁGI ADATOK</label>
                                    <input type="text" class="form-control personal_detail_item" disabled
                                           placeholder="Company"
                                           value="Creative Code Inc.">
                                </div>
                            </div>

                            {#                            Commented out to prevent the user from changing its username#}
                            {#                            <div class="col-md-3 pr-1">#}
                            {#                                <div class="form-group">#}
                            {#                                    <label>Username</label>#}
                            {#                                    <input disabled name="username" type="text" class="form-control personal_detail_item"#}
                            {#                                           placeholder="Username"#}
                            {#                                           value="{{ user.username }}">#}
                            {#                                </div>#}
                            {#                            </div>#}

                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input disabled name="email" type="email" class="form-control personal_detail_item"
                                           placeholder="Email"
                                           value="{{ user.email }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input disabled name="firstname" type="text"
                                           class="form-control personal_detail_item"
                                           placeholder="Company"
                                           value="{{ user.first_name }}">
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input disabled name="lastname" type="text"
                                           class="form-control personal_detail_item"
                                           placeholder="Last Name"
                                           value="{{ user.last_name }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <input disabled name="home_country" type="text"
                                           class="form-control personal_detail_item"
                                           placeholder="Home Address"
                                           value="{{ user_profile.home_country }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input disabled name="home_city" type="text"
                                           class="form-control personal_detail_item"
                                           placeholder="Home Address"
                                           value="{{ user_profile.home_city }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Street</label>
                                    <input disabled name="home_street" type="text"
                                           class="form-control personal_detail_item" placeholder="City"
                                           value="{{ user_profile.home_street }}">
                                </div>
                            </div>
                            <div class="col-md-4 px-1">
                                <div class="form-group">
                                    <label>House Number</label>
                                    <input disabled name="home_house_no" type="text"
                                           class="form-control personal_detail_item"
                                           placeholder="Country"
                                           value="{{ user_profile.home_house_no }}">
                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label>Postal Code</label>
                                    <input disabled name="home_postcode" type="number"
                                           class="form-control personal_detail_item"
                                           placeholder="ZIP Code"
                                           value="{{ user_profile.home_postcode }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <textarea rows="4" cols="80" class="form-control personal_detail_item"
                                              placeholder="Here can be your description"
                                              value="{{ user_profile.firstname }}">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="{% static 'img/bg5.jpg' %}" alt="...">
                </div>
                <div class="card-body">
                    <div class="author">
                        <a href="#">
                            <img class="avatar border-gray" src="{% static 'img/mike.jpg' %}" alt="...">
                            <h5 class="title">{{ user_profile.firstname }} {{ user_profile.lastname }}</h5>
                        </a>
                        <p class="description">
                            {{ user.username }}
                        </p>
                    </div>
                    <p class="description text-center">
                        "Lamborghini Mercy
                        <br> Your chick she so thirsty
                        <br> I'm in that two seat Lambo"
                    </p>
                </div>
                <hr>
                <div class="button-container">
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-google-plus-g"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <div class="container">
                        <h5 class="title d-inline">Telefonszámok</h5>

                        <div class="row align-items-center ">

                            <div class="col-md-1 right"></div>


                            <div class="col-md-1"></div>
                            <h6 class="title d-inline">Név</h6>

                            <div class="col-md-3"></div>

                            <h6 class="title d-inline">Ország</h6>

                            <div class="col-md-2"></div>

                            <h6 class="title d-inline">Telefonszám</h6>
                            <div class="col-md-2"></div>

                        </div>
                        {% for phone_number in phone_numbers %}
                            <form id="phone_{{ phone_number.id }}_form" method="post"> {% csrf_token %}
                                {% if forloop.last %}
                                    <div class="row align-items-center ">
                                {% else %}
                                    <div class="row border-bottom-c align-items-center ">
                                {% endif %}
                                <div class="col-md-1">
                                    <img src="{% static phone_number.img %}">
                                </div>
                                <div class="col-md-4">
                                    <input disabled class="hidden phone_{{ phone_number.id }}"
                                           name="phone_id"
                                           value="{{ phone_number.id }}">

                                    <input disabled class="hidden phone_{{ phone_number.id }}"
                                           id="phone_{{ phone_number.id }}_del_input"
                                           name="phone_delete"
                                           value="False">

                                    <input disabled class="phone_{{ phone_number.id }} no-border-n-bg"
                                           name="phone_name"
                                           maxlength="30"
                                           value="{{ phone_number.name }}">
                                </div>
                                <div class="col-md-3">
                                    <select disabled name="country"
                                            class="selectpicker phone_{{ phone_number.id }}"
                                            data-live-search="true"
                                            title="Country"
                                            style="max-width:90%;">
                                        <option data-tokens="Hungary">Hungary
                                        </option>
                                        <option data-tokens="Great Britain">Great Britain
                                        </option>
                                        {% for country in countries %}
                                            {% if phone_number.country_code|stringformat:"i" == country.country_code %}
                                                <option selected
                                                        data-tokens="{{ country.id }}">{{ country.country_name }}
                                                </option>
                                            {% else %}
                                                <option data-tokens="{{ country.id }}">{{ country.country_name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input disabled class="phone_{{ phone_number.id }} no-border-n-bg no-spinners"
                                           name="phone_number"
                                           type="number"
                                           inputmode="numeric"
                                            {#                                           maxlength="100"#}
                                           value="{{ phone_number.number }}">
                                </div>

                                <div class="col-md-2">
                                    <button class="btn btn-info btn-icon btn-sm btn-primary"
                                            id="phone_{{ phone_number.id }}_edit"
                                            href="#"
                                            type="button"
                                            onclick="edit_phone_number('phone_{{ phone_number.id }}_edit')">
                                        <i class="now-ui-icons ui-2_settings-90"></i></button>
                                    <button class="btn btn-icon btn-danger btn-sm btn-secondary"
                                            id="phone_{{ phone_number.id }}_delete"
                                            href="#"
                                            type="button"
                                            onclick="delete_phone_number('phone_{{ phone_number.id }}_form')">
                                        <i class="now-ui-icons ui-1_simple-remove"></i></button>
                                </div>

                                </div>
                            </form>
                        {% endfor %}
                    </div>
                <button class="btn btn-info" onclick="newPhoneNumber()">Új hozzáadása</button>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title d-inline">Abroad address</h5>
                    <button id="abroad_edit_button" onclick="edit_abroad_card_activer()" class="btn btn-info">MÓDOSÍT
                    </button>
                </div>

                <div class="card-body">
                    <form id="user_abroad_details" method="post"> {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <input disabled name="abroad_country" type="text"
                                           class="form-control abroad_detail_item"
                                           placeholder="Home Address"
                                           value="{{ user_profile.abroad_country }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input disabled name="abroad_city" type="text"
                                           class="form-control abroad_detail_item"
                                           placeholder="Home Address"
                                           value="{{ user_profile.abroad_city }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Street</label>
                                    <input disabled name="abroad_street" type="text"
                                           class="form-control abroad_detail_item" placeholder="City"
                                           value="{{ user_profile.abroad_street }}">
                                </div>
                            </div>
                            <div class="col-md-4 px-1">
                                <div class="form-group">
                                    <label>House Number</label>
                                    <input disabled name="abroad_house_no" type="text"
                                           class="form-control abroad_detail_item"
                                           placeholder="Country"
                                           value="{{ user_profile.abroad_house_no }}">
                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label>Postal Code</label>
                                    <input disabled name="abroad_postcode" type="number"
                                           class="form-control abroad_detail_item"
                                           placeholder="ZIP Code"
                                           value="{{ user_profile.abroad_postcode }}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title d-inline">Ice</h5>
                        <button id="ice_edit_button" onclick="edit_ice_card_activer()" class="btn btn-info">MÓDOSÍT
                        </button>
                    </div>

                    <div class="card-body">
                        <form id="user_ice_details" method="post"> {% csrf_token %}
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label>MAGYARORSZÁGI ADATOK</label>
                                        <input type="text" class="form-control ice_detail_item" disabled
                                               placeholder="Company"
                                               value="Creative Code Inc.">
                                    </div>
                                </div>

                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input disabled name="ice_email" type="email"
                                               class="form-control ice_detail_item"
                                               placeholder="Email"
                                               value="{{ user_ice.email }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input disabled name="ice_firstname" type="text"
                                               class="form-control ice_detail_item"
                                               placeholder="Company"
                                               value="{{ user_ice.firstname }}">
                                    </div>
                                </div>
                                <div class="col-md-6 pl-1">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input disabled name="ice_lastname" type="text"
                                               class="form-control ice_detail_item"
                                               placeholder="Last Name"
                                               value="{{ user_ice.lastname }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input disabled name="ice_country" type="text"
                                               class="form-control ice_detail_item"
                                               placeholder="Country"
                                               value="{{ user_ice.country }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input disabled name="ice_city" type="text" class="form-control ice_detail_item"
                                               placeholder="Home Address"
                                               value="{{ user_ice.city }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Street</label>
                                        <input disabled name="ice_street" type="text"
                                               class="form-control ice_detail_item"
                                               placeholder="City"
                                               value="{{ user_ice.street }}">
                                    </div>
                                </div>
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <label>House Number</label>
                                        <input disabled name="ice_house_no" type="text"
                                               class="form-control ice_detail_item"
                                               placeholder="Country"
                                               value="{{ user_ice.house_no }}">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input disabled name="ice_postcode" type="number"
                                               class="form-control ice_detail_item"
                                               placeholder="ZIP Code"
                                               value="{{ user_ice.postcode }}">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input disabled name="ice_phone" type="number"
                                               class="form-control ice_detail_item"
                                               placeholder="ZIP Code"
                                               value="{{ user_ice.hun_phone }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About Me</label>
                                        <textarea rows="4" cols="80" class="form-control ice_detail_item"
                                                  placeholder="Here can be your description"
                                                  value="{{ user_profile.firstname }}">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>
                , Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>

{% endblock %}
